#main-container {
    width: 100%;
    height: 100vh;
    background-image: url(./Images/login-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: auto;

   

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
   
    


    
}

#main-container > #title-container, #login-container{
    height: 60%;
    flex-basis: 35%;
    
    min-width: 440px;
    margin: 10px;

}

/*================Title or Left Side DESIGN==================*/
#main-container > #title-container {
    height: 40%;
    display: flex;
    flex-direction: column;
  
    align-items: center;
}
#title-container > div {
    margin: 4px;

}
#title-container > :first-child {
    color: rgb(255, 221, 0);
    text-shadow: 7px 5px 5px rgb(0, 0, 0);
    font-size: 100px;
}

#title-container > :nth-child(2) {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    font-family: Arial, Helvetica, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#title-container > :last-child {
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    
}



/*===============Login-Container DESIGN=================== */
#main-container > #login-container {
    
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-radius:20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}

#login-container > :first-child{
    font-size: 25px;
    color: white
}

#login-container > :nth-child(2){
    /* background-color: pink; */
    width: 80%;

}


#login-container #form-container div {
   
    margin-top: 25px;
    color: rgba(255, 255, 255, 0.5);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: bold;  
    /* background-color: yellow; */

    

}

#login-container #form-container > div input{
    margin-top: 5px;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    text-align: center;

}






/* BUTTON DESIGN */
#login-container #form-container > :last-child {

    text-align: center;
}
#login-container button {
    width: 90px;
    height: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:  rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    border-style: none;
}

/* END OF BUTTON DESIGN */



#login-container > :last-child {
    /* background-color: pink; */
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: gray;
}

#login-container > :last-child > a{
    text-decoration: none;
    color: gray;
    
}